    * {  
        padding: 0;  
        margin: 0;  
        box-sizing: border-box;  
        text-decoration: none;  
        list-style: none;  
    }  
    body {
        background: url('maca.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    header .nav {  
        position: fixed;  
        display: flex;  
        justify-content: space-between;  
        align-items: center;  
        background: transparent;  
        width: 100%;  
        padding: 10px 12%; 
        z-index: 1000;  
    }  

    header .nav-link {  
        display: flex;  
        align-items: center;  
    }  

    .nav-item {  
        position: relative;  
        margin: 0 10px;  
        padding: 0 2px;
        display: flex;  
        align-items: center; 
        justify-content: center; 
        height: 70px;   
    }  



    .stages {  
        color: black;  
        z-index: 1;   
        font-size: 24px;  
        transition: opacity 0.3s ease, transform 0.3s ease;   
    }  

    .hover-text {  
        color: black;  
        position: absolute;  
        left: 0;  
        width: 100%;  
        text-align: center;  
        transform: translateY(20px);  
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;  
        font-size: 24px; 
        z-index: 0;   
    }  

    .nav-item:hover .hover-text {  
        transform: translateY(0); 
        transform: translateX(0);   
        opacity: 1; 
    }  

    .nav-item:hover .stages {  
        opacity: 0;   
        transform: translateY(-20px); 
    }

    .sideBar{
        position: fixed;
        top: 0;
        right: 100vh;
        bottom: 0;
        height: 100vh;
        width:100vh ;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.479);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }
    .sideBar li{
        width: 100%;
        padding: 10px 20px;

    }
    .sideBar a{
        width: 100%;
    }
    .nav {
        z-index: 999;
    }


